<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pranav Rao</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="landingscreen" id="home">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="#home">
                    Pranav <span>Rao</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-auto rightbar" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#interests">Interests</a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="#aboutme">About Me</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contactme">Contact Me</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="leftcontentls">
            <p>Hello I'm</p>
            <p>Pranav Rao</p>
        </div>
        <div class="rightcontentls"></div>
    </div>
    <p>Interests</p>
    <div class="interests">
        <div class="interesttab">
            <div class="interesttabtitle">WEB DEVELOPMENT</div>
            <div class="interesttabicon"></div>
            <div class="interesttabtext">I'm passionate about crafting the digital world through web development, and I
                specialize in the MERN stack (MongoDB, Express.js, React, Node.js). I enjoy building responsive and
                user-friendly websites that not only look great but also deliver exceptional user experiences. From
                front-end design to back-end functionality, I'm constantly exploring the ever-evolving world of web
                technologies to create meaningful online solutions.</div>
        </div>
        <div class="interesttab">
            <div class="interesttabtitle">COMPETITIVE PROGRAMMING</div>
            <div class="interesttabicon"></div>
            <div class="interesttabtext">I thrive on the challenge of Competitive Programming. Solving complex
                algorithmic problems, optimizing code for efficiency, conquering coding competitions, and contributing
                to open-source projects are not just hobbies; they're a passion. I enjoy the intellectual rigor and the
                continuous learning involved in mastering data structures and algorithms.</div>
        </div>
        <div class="interesttab">
            <div class="interesttabtitle">APP DEVELOPMENT</div>
            <div class="interesttabicon"></div>
            <div class="interesttabtext">I'm enthusiastic about mobile app development with a strong focus on Flutter
                and Dart. I love creating cross-platform, visually appealing applications that offer seamless
                experiences. The Flutter framework's flexibility and Dart's power empower me to bring innovative app
                ideas to life, reaching a broad audience on both Android and iOS platforms.</div>
        </div>
        <div class="interesttab">
            <div class="interesttabtitle">UI/UX DESIGN</div>
            <div class="interesttabicon"></div>
            <div class="interesttabtext">I'm fascinated by the art and science of User Interface (UI) and User
                Experience (UX) design. Even though not an expert in this field, im highly interested to learn more.
                Crafting visually appealing and user-centered interfaces is my passion. I believe in the power of
                aesthetic design, combined with functionality, to create digital experiences that are not only beautiful
                but also highly usable and enjoyable for users.</div>
        </div>
    </div>
    <p>Interests</p>
    <div class="projects">
        <div class="projecttab">
            <div class="projecttabtitle">Wheel-E</div>
            <div class="projecttabcontent">
                <div class="projecttabimage"></div>
                <div class="projecttabtext">
                    <div class="projecttabh2">An electric-vehicles exclusive taxi service website which is fully
                        functional for both users and drivers.</div>
                    <div class="projecttabh3">In a 24-hour hackathon, my team of four developed a transportation project
                        for the theme Sustainable Development Goals. The website features user-friendly Login and SignUp
                        pages, including one for drivers. It calculates the shortest route between pickup and drop
                        locations using APIs, offers cost estimates for various transport modes, and allows users to
                        book vehicles. Upon booking, drivers receive notifications and can accept, leading to automatic
                        redirection to the user's location.</div>
                </div>
            </div>
        </div>
        <div class="projecttab">
            <div class="projecttabtitle">cli-Mate</div>
            <div class="projecttabcontent">
                <div class="projecttabtext">
                    <div class="projecttabh2">A weather mobile-app which notifies you in-case of too high/ low
                        temperatures. </div>
                    <div class="projecttabh3">Contributed significantly to the development of a cross-platform mobile
                        application using Flutter, ensuring accessibility for both iOS and Android users. Held
                        responsibility for front-end development, focusing on designing user interfaces and implementing
                        core functionalities. Expertly integrated the Flutter framework, Dio for API communication, and
                        Flutter Secure Storage for efficient data persistence. With the help of my teammates, used
                        Django for backend framework.</div>
                </div>
                <div class="projecttabimage"></div>
            </div>
        </div>
        <div class="projecttab">
            <div class="projecttabtitle">Portfolio</div>
            <div class="projecttabcontent">
                <div class="projecttabimage"></div>
                <div class="projecttabtext">
                    <div class="projecttabh2">A website to showcase my skills, projects, achievements and experiences.
                    </div>
                    <div class="projecttabh3">A curated digital showcase of my work and achievements, reflecting my
                        skills and experiences in a visually engaging manner. It encompasses diverse projects,
                        educational background, and personal interests, allowing visitors to explore my capabilities.
                        This website serves as a valuable tool for potential employers, collaborators, or educational
                        institutions to gain insights into my expertise and achievements. Through its user-friendly
                        design, it offers a clear and structured representation of my talents and provides a convenient
                        means to connect with me.</div>
                </div>
            </div>
        </div>
    </div>
    <p>About Me</p>
    <div class="aboutme">
        <div class="education">
            <div class="educationtitle"></div>
            <div class="educationcontent">
                <div class="educationimage"></div>
                <div class="educationtext">
                    <div class="educationtab">
                        <div class="educationdegree">
                            <p>B.E. in Computer Science and Engineering</p>
                        </div>
                        <div class="educationnondegree">
                            <div class="educationcollege">
                                <p>BMS College of Engineering</p>
                            </div>
                            <div class="educationgrade">
                                <p>Current CGPA: 9.75</p>
                            </div>
                        </div>
                    </div>
                    <div class="educationtab">
                        <div class="educationdegree">
                            <p>Class 12, Karnataka Board</p>
                        </div>
                        <div class="educationnondegree">
                            <div class="educationcollege">
                                <p>CFAL India</p>
                            </div>
                            <div class="educationgrade">
                                <p>Percentage: 96.33%</p>
                            </div>
                        </div>
                    </div>
                    <div class="educationtab">
                        <div class="educationdegree">
                            <p>Class 10, CBSE</p>
                        </div>
                        <div class="educationnondegree">
                            <div class="educationcollege">
                                <p>Shriniketana School</p>
                            </div>
                            <div class="educationgrade">
                                <p>Percentage: 96%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>