@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=League+Spartan:wght@400;500;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --bgdarkgray: #2d2d39;
    --bglightgray: #363543;
    --lightergray: #636073;
    --golden: #eeb639;
    --yellow: #ffe500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.landingscreen{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    background-color: var(--bglightgray);
    color: white;
    font-size: 1.4rem;
    padding: 10rem 5rem;
}

.navbar{
    font-weight: bold;
    color: white;
    background-color: var(--bglightgray);
    padding: 2rem 5rem;
}

.navbar:hover{
    color: white;
}

.nav-item{
    color: white;
    font-weight: normal;
    margin: 0 1rem;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

.navlink:active{
    color: white;
}

.landingscreen .logo{
    color:white;
}

.landingscreen .logo span{
    color: var(--golden);
}

.navbar-toggler-icon{
    color: var(--golden);
    border: none;
}

.rightbar{
    display: flex;
    justify-content: end;
}